<% content_for(:javascript_includes) do -%>
  <%= javascript_include_tag('angular.min') %>
  <%= javascript_include_tag('ui-bootstrap-tpls-0.11.0.min') %>
  <%= javascript_include_tag('ui-select.min') %>
  <%= stylesheet_link_tag('ui-select.min') %>
  <%= javascript_include_tag('angular-block-ui.min') %>
  <%= stylesheet_link_tag('angular-block-ui.min') %>
  <%= javascript_include_tag('DelegatesController') %>
<% end -%>

<h2>Delegates</h2>
<h4>Please specify the names and emails of your delegates.</h4>
<div ng-app='delegatesApp' block-ui="delegateBlockUI" class="delegates-app">
  <div ng-controller="DelegatesController">
    <div class="no-seats" ng-if="loaded && seats.length == 0">You have not been assigned any seats yet. We will notify you when committee assignments go out.</div>
    <div class="yes-seats" ng-if="loaded && seats.length > 0">Your seats have been assigned. You may assign your delegates to committee positions below.</div>
    <form class="delegates-form" name="delegates-form">
      <div class="status" ng-bind="saveStatus(delegates)"></div>
      <div class="key">
        <span>First Name</span>
        <span>Last Name</span>
        <span>Email</span>
      </div>
      <div class="delegate-row" ng-repeat='(i, delegate) in delegates'>
        <ng-form name="delegateForm" class="" ng-class="{ 'unsaved': delegateForm.$dirty && !delegate.saving, 'saving': delegate.saving, 'saved': '!delegateForm.$dirty' }">
          <div ng-init="delegate.form = delegateForm">
            <div class="form-group text" ng-class="{ 'has-error' : delegateForm.first_name.$invalid && delegateForm.first_name.$dirty }">
              <input type="text" placeholder="First Name" class="form-control" ng-blur="saveDelegate(delegate, delegateForm)" ng-model="delegate.first_name" name="first_name" required>
            </div>
            <div class="form-group text" ng-class="{ 'has-error' : delegateForm.last_name.$invalid && delegateForm.last_name.$dirty }">
              <input type="text" placeholder="Last Name" class="form-control" ng-blur="saveDelegate(delegate, delegateForm)" ng-model="delegate.last_name" name="last_name" required>
            </div>
            <div class="form-group text" ng-class="{ 'has-error' : delegateForm.email.$invalid && delegateForm.email.$dirty }">
              <input type="email" placeholder="Email" class="form-control" ng-blur="saveDelegate(delegate, delegateForm)" ng-model="delegate.email" name="email" required>
            </div>
            <div class="form-group select">
              <ui-select ng-model="delegate.seat" theme="bootstrap" ng-disabled="!delegate.id" ng-focus="delegate.oldSeat = delegate.seat" ng-change="saveSeat(delegate.seat, delegate, delegateForm)">
                <ui-select-match placeholder="No seat selected.">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="seat in (seats | unclaimedFor:delegate | filter: $select.search)">
                  <div ng-bind="seat.name"></div>
                  <small>Committees: {{committeeText(seat)}}</small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </ng-form>
        <span ng-bind="delegate.error"></span>
      </div>
    </form>
  </div>
</div>
