<h3>Advisors</h3>
<% if description.present? -%>
  <p class="help-block"><%= description %></p>
<% end -%>
<% f.object.advisors.each_with_index do |advisor, index| -%>
  <%= f.simple_fields_for :advisors, advisor, wrapper: :with_addons, as: :advisors_attributes do |a| %>
    <div class="form-group col-sm-12">
      <div class="input-group">
        <span class="input-group-addon"><%= index + 1 %></span>
        <%= a.input_field :email, placeholder: 'Email', class: 'duplicatable input-group-first', readonly: true %>
        <%= a.input_field :first_name, placeholder: 'First Name', class: 'duplicatable' %>
        <%= a.input_field :last_name, placeholder: 'Last Name', class: 'duplicatable input-group-last' %>
      </div>
    </div>
  <% end -%>
<% end -%>
<%= f.simple_fields_for :advisors, Advisor.new, wrapper: :with_addons, as: :advisors_attributes do |a| %>
  <div class="form-group col-sm-12">
    <div class="input-group">
      <span class="input-group-addon">New</span>
      <%= a.input_field :email, placeholder: 'Email', class: 'duplicatable input-group-first' %>
      <%= a.input_field :first_name, placeholder: 'First (Given) Name', class: 'duplicatable' %>
      <%= a.input_field :last_name, placeholder: 'Last (Family) Name', class: 'duplicatable input-group-last' %>
    </div>
  </div>
  <%= a.input :to_be_invited, as: :hidden, input_html: { value: true } %>
  <%= a.input :inviter_id, as: :hidden, input_html: { value: current_user.id } %>
<% end -%>
<div class="form-group col-sm-12">
  <button class="btn btn-default btn-block col-sm-12 add-one">Add an Additional Advisor</button>
</div>