<h3>Advisors</h3>
<% if description.present? -%>
  <p class="help-block"><%= description %></p>
<% end -%>
<% f.object.advisors.each_with_index do |advisor, index| -%>
  <%= f.simple_fields_for :advisors, advisor, wrapper: :with_addons, as: :advisors_attributes do |a| %>
    <%= a.input :email, addon: index + 1, label: false, wrapper_html: { class: 'col-sm-12' }, disabled: true %>
  <% end -%>
<% end -%>
<%= f.simple_fields_for :advisors, Advisor.new, wrapper: :with_addons, as: :advisors_attributes do |a| %>
  <%= a.input :email, addon: 'New', label: false, wrapper_html: { class: 'col-sm-12' }, input_html: { class: 'form-control-static duplicatable' } %>
  <%= a.input :to_be_invited, as: :hidden, input_html: { value: true } %>
  <%= a.input :inviter_id, as: :hidden, input_html: { value: current_user.id } %>
<% end -%>
<div class="form-group col-sm-12">
  <button class="btn btn-default btn-block col-sm-12 add-one">Add One</button>
</div>