<footer class="content-footer">
  <div class="container">
    <h4>Yale Model United Nations XLII</h4>

      <dl class="dl-horizontal">
        <dt>
           <%= icon('map-marker') %> <strong>Address:</strong>
        </dt>
        <dd>
          <%= Option.get('address') %>
        </dd>
        <dt>
           <%= icon('envelope') %> <strong>Email:</strong>
        </dt>
        <dd>
          <a href="mailto:<%= Option.get('main_email') %>"><%= Option.get('main_email') %></a>
        </dd>
      </dl>
    <div class="textwidget">
      <%= link_to "#{Option.get('site_title')} Home", Option.get('public_site_url') %>
      <span class="weak">|</span>
      <%= link_to 'Privacy Policy', privacy_policy_path %>
    </div>
    <div class="textwidget">
      <%= Option.get('copyright') %>
    </div>
  </div>
  <!--[if lte IE 7]>
  <script type="text/javascript">
  $('browser-unsupported').show();
  </script>
  <![endif]-->
</footer>
