<footer class="content-footer">
  <div class="container">
    <h4>Yale Model Government Europe</h4>

      <dl class="dl-horizontal">
        <dt>
           <%= icon('map-marker') %> <strong>Address:</strong>
        </dt>
        <dd>
          PO Box 203352 <br>New Haven, CT 06520
        </dd>
        <dt>
           <%= icon('phone') %> <strong>Phone:</strong>
        </dt>
        <dd>
          +1 (412) 877-1272
        </dd>
        <dt>
           <%= icon('envelope') %> <strong>Email:</strong>
        </dt>
        <dd>
          <a href="mailto:recruitment@ymge.org">recruitment@ymge.org</a>
        </dd>
      </dl>
    <div class="textwidget">
      <%= link_to 'YMGE Home', 'http://ymge.org/' %>
      <span class="weak">|</span>
      <%= link_to 'Contact Us', 'http://ymge.org/about-ymge/contact/' %>
      <span class="weak">|</span>
      <%= link_to 'Privacy Policy', privacy_policy_path %>
    </div>
    <div class="textwidget">
      Copyright 2010-2014 Yale Model Government Europe CZ, o.s.
    </div>
  </div>
  <!--[if lte IE 6]>
  <script type="text/javascript">
  $('browser-unsupported').show();
  </script>
  <![endif]-->
</footer>