<h2>
  Payment
  <% if Option.get('accept_eur') -%>
    <%
    usd_class = if @delegation.payment_currency.blank? ||
                   @delegation.payment_currency == 'usd' 
                  'active'
                elsif @delegation.payments.any? &&
                      @delegation.payment_currency != 'usd'
                  'disabled'
                else
                  ''
                end
    eur_class = if @delegation.payment_currency == 'eur' 
                  'active'
                elsif @delegation.payments.any? &&
                      @delegation.payment_currency != 'eur'
                  'disabled'
                else
                  ''
                end
    %>
    <button id="usd-button" class="btn btn-default <%= usd_class %>">
      <span class="weak"><%= icon('usd') %></span>
      Pay With USD
    </button>
    <button id="eur-button" class="btn btn-default <%= eur_class %>">
      <span class="weak"><%= icon('eur') %></span> 
      Pay With EUR
    </button>
    <% currencies = [:usd, :eur] -%>
  <% else -%>
    <% currencies = [:usd] -%>
  <% end -%>
</h2>
<% currencies.each do |curr| %>
  <table id="payment-<%= curr.to_s %>" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Count</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @delegation.payment_items.each do |item| %>
        <tr>
          <td> <%= item[:name] %></td>
          <td><%= currency(curr) %><%= item[:price][curr] %></td>
          <td><%= item[:count] %></td>
          <td><%= currency(curr) %><%= item[:price][curr] * item[:count] %></td>
        </tr>
      <% end -%>
      <% @payments.each do |item| %>
        <tr>
          <td>Payment</td>
          <td><%= currency(curr) %><%= item.amount %></td>
          <td></td>
          <td class="green-text">- <%= currency(curr) %><%= item.amount %></td>
        </tr>
      <% end -%>
      <tr>
        <td>Total:</td>
        <td></td>
        <td></td>
        <td><%= currency(curr) %><%= @delegation.payment_balance(curr) %></td>
      </tr>
    </tbody>
  </table>
<% end -%>

<% unless @delegation.paid_deposit? -%>
<p class="help-block">
In order to finalize your delegation's registration, you must pay a USD 
<%= Option.get('deposit_usd') %><% if Option.get('accept_eur') %>/EUR <%= Option.get('deposit_eur') %><% end %>
deposit within eight business days of completing this form.  Please choose from one of the options below.
</p>
<% end -%>

<div class="col-sm-12" id="pay-with-paypal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pay with PayPal</h3>
    </div>
    <div class="panel-body">
      <% active = @delegation.payment_type == 'paypal' %>
      <%= link_to (if active then 'Using this Method' else 'Choose this Method' end), change_payment_type_delegation_path('paypal'), class: 'btn btn-primary btn-block' + if active then ' disabled' else '' end %><br>
      <% if @delegation.payment_type == 'paypal' -%>
        <form action="<%= delegation_payments_path %>" method="post" class="form-inline">
          <div class="input-group" data-toggle="buttons">
            <div class="input-group-btn">
              <label class="btn btn-default">
                <input type="radio" name="payment[type]" value="deposit"> Pay Deposit ($<%= Option.get('deposit_usd') %>)
              </label>
              <label class="btn btn-default">
                <input type="radio" name="payment[type]" value="full"> Pay Full Balance ($<%= @delegation.payment_balance %>)
              </label>
              <label class="btn btn-default">
                <input type="radio" name="payment[type]" value="custom"> Pay Custom Amount:
              </label>
            </div>
            <input type="number" class="form-control" name="payment[amount]" placeholder="Custom Amount...">
            <div class="input-group-btn">
              <button type="submit" id="payment-submit" class="btn btn-primary">Pay <%= icon('chevron-right') %>
            </div>
          </div>
        </form>
      <% end -%>
    </div>
  </div>
</div>

<div class="col-sm-<%= if Option.get('allow_bank_transfer') then 6 else 12 end %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pay by Check</h3>
    </div>
    <div class="panel-body">
      <% active = @delegation.payment_type == 'check' %>
      <%= link_to (if active then 'Using this Method' else 'Choose this Method' end), change_payment_type_delegation_path('check'), class: 'btn btn-primary btn-block' + if active then ' disabled' else '' end %><br>
      Please mail checks to:<br><br>
      <%= Option.get('check_address') %>
    </div>
  </div>
</div>

<% if Option.get('allow_bank_transfer') -%>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pay with Bank Transfer</h3>
      </div>
      <div class="panel-body">
        <% active = @delegation.payment_type == 'bank' %>
        <%= link_to (if active then 'Using this Method' else 'Choose this Method' end), change_payment_type_delegation_path('bank'), class: 'btn btn-primary btn-block' + if active then ' disabled' else '' end %><br>
        If you choose this option, our Finance Director will email you with instructions on
        how to send the wire transfer.
        <br><br>
        If you have any questions about payment, you may contact us at
        <a href="mailto:<%= Option.get('payment_email') %>"><%= Option.get('payment_email') %></a>.
      </div>
    </div>
  </div>
<% end -%>

<p class="help-block">
  Refund policy available upon request.
</p>

<button class="btn btn-primary fake-save">Save</button>


