<h2>
  Payment
  <button id="usd-button" class="btn btn-default <%= if @delegation.payment_currency.blank? || @delegation.payment_currency == 'usd' then 'active' else '' end %>  <%= if @delegation.approved_payments.where(currency: 'eur').any? then 'disabled' else '' end %>">
    <span class="weak"><%= icon('usd') %></span>
    Pay With USD
  </button>
  <button id="eur-button" class="btn btn-default <%= if @delegation.payment_currency == 'eur' then 'active' else '' end %> <%= if @delegation.approved_payments.where(currency: 'usd').any? then 'disabled' else '' end %>">
    <span class="weak"><%= icon('eur') %></span> 
    Pay With EUR
  </button>
</h2>
<% [:usd, :eur].each do |curr| %>
  <table id="payment-<%= curr.to_s %>" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Count</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @delegation.payment_items.each do |item| %>
        <tr>
          <td> <%= item[:name] %></td>
          <td><%= currency(curr) %><%= item[:price][curr] %></td>
          <td><%= item[:count] %></td>
          <td><%= currency(curr) %><%= item[:price][curr] * item[:count] %></td>
        </tr>
      <% end -%>
      <% @payments.each do |item| %>
        <tr>
          <td>Payment</td>
          <td><%= currency(curr) %><%= item.amount %></td>
          <td></td>
          <td class="green-text">- <%= currency(curr) %><%= item.amount %></td>
        </tr>
      <% end -%>
      <tr>
        <td>Total:</td>
        <td></td>
        <td></td>
        <td><%= currency(curr) %><%= @delegation.payment_balance %></td>
      </tr>
    </tbody>
  </table>
<% end -%>

<div class="col-sm-12" id="pay-with-paypal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pay with PayPal</h3>
    </div>
    <div class="panel-body">
      <form action="<%= delegation_payments_path %>" method="post" class="form-inline">
        <div class="input-group" data-toggle="buttons">
          <div class="input-group-btn">
            <label class="btn btn-default">
              <input type="radio" name="payment[type]" value="deposit"> Pay Deposit ($<%= Option.get('deposit') %>)
            </label>
            <label class="btn btn-default">
              <input type="radio" name="payment[type]" value="full"> Pay Full Balance ($<%= @delegation.payment_balance %>)
            </label>
            <label class="btn btn-default">
              <input type="radio" name="payment[type]" value="custom"> Pay Custom Amount:
            </label>
          </div>
          <input type="number" class="form-control" name="payment[amount]">
          <div class="input-group-btn">
            <button type="submit" id="payment-submit" class="btn btn-primary">Pay <%= icon('chevron-right') %>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pay by Check</h3>
    </div>
    <div class="panel-body">
      <button class="btn btn-primary btn-block payment-type-button" data-payment-type="check">Choose this Method</button><br>
      Please mail checks to:<br><br>
      <address>
      <strong>Yale Model Government Europe</strong><br>
      &#8453; David Steiner<br>
      P.O. Box 203352<br>
      New Haven, CT 06520
      </address>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pay with Bank Transfer</h3>
    </div>
    <div class="panel-body">
      <button class="btn btn-primary btn-block payment-type-button" data-payment-type="bank">Choose this Method</button><br>
      If you choose this option, our Finance Director will email you with instructions on
      how to send the wire transfer.
      <br><br>
      If you have any questions about payment, you may contact us at
      <a href="mailto:finance@ymge.org">finance@ymge.org</a>.
    </div>
  </div>
</div>


