<% content_for(:title) do -%>
New Delegation: <%= @delegation.name || '[Not yet named]' %>
<% end -%>

<h3>
  Delegation updated:
</h3>
<ul>
  <li>Name: <%= @delegation.name || '[Not yet named]' %></li>
  <% if @current_user -%>
    <li>Changer: <%= @current_user.email %><% if @current_user.admin? %> <b>(Admin)</b><% end %></li>
  <% end -%>
  <li>
    Changes:
    <ul>
      <% @delegation.changes.each do |field, change| %>
        <li><%= field.to_s.humanize %> changed from "<%= change[0] %>" to "<%= change[1] %>".</li>
      <% end -%>
      <% @delegation.nested_changes.each do |field, changes| %>
        <li>
          <%= field.to_s.humanize %>:
          <ul>
            <% changes.each do |obj| %>
              <% case obj[:state] %>
              <% when 'changed' %>
                <li>
                  <%= obj[:identifier] %>:
                  <ul>
                    <% obj[:changes].each do |field, change| %>
                      <li><%= field.to_s.humanize %> changed from "<%= change[0] %>" to "<%= change[1] %>".</li>
                    <% end -%>
                  </ul>
                </li>
              <% when 'created' %>
                <li>
                  <%= obj[:identifier] %>:
                  <ul>
                    <% obj[:changes].each do |field, change| %>
                      <li><%= field.to_s.humanize %> set to "<%= change[1] %>".</li>
                    <% end -%>
                  </ul>
                </li>
              <% when 'deleted' %>
                <li>
                  Deleted <%= obj[:identifier] %>.
                </li>
              <% end -%>
            <% end -%>
          </ul>
        </li>
      <% end -%>
    </ul>
  </li>
</ul>