<%= render partial: '/partial/edit_pages_nav' %>
<h2><%= @page.name %></h2>
<% url = if @step then update_page_delegation_path(@step) else delegation_path end -%>
<%= simple_form_for(resource, as: 'delegation', url: url, method: :put) do |f| %>
  <p class="help-block">Please note that this information is not final; you may return and edit it later.</p>
  <%= f.error_notification message: error_message(resource) %>

  <div class="form-inputs col-sm-9">
    <% i = 0 -%>
    <%= f.simple_fields_for :fields, @fields, as: :fields_attributes do |fi| %>
      <% delegation_field_type = fi.object.delegation_field.delegation_field_type %>
      <%= render partial: delegation_field_type.form_partial, locals: { f: f, fi: fi, delegation_field_type: delegation_field_type } %>
      <% i += 1 -%>
    <% end -%>
  </div>

  <div class="form-actions col-sm-12">
    <%= f.button :submit, if @page.save_button.blank? then "Save" else @page.save_button end %>
  </div>
<% end %>
