<h2>Thank You! <small>Your registration has been submitted!</small></h2>
<div class="complete row">
  <div class="col-sm-12">
    <section class="overview panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="overview-item col-sm-3">
            <dt>
              Delegates
            </dt>
            <dd>
              <%= @delegation.delegation_size %> <span class="weak smaller">(<%= @delegation.delegates.count %> specified)</span>
            </dd>
          </div>
          <div class="overview-item col-sm-3">
            <dt>
              Advisors
            </dt>
            <dd>
              <%= @delegation.advisor_count %>
            </dd>
          </div>
          <div class="overview-item col-sm-3">
            <dt>
              Deposit Paid
            </dt>
            <dd>
              <% if @delegation.paid_deposit? -%>
                <span class="status-complete">
                  <i class="fa fa-check"></i>
                </span>
              <% else -%>
                <span class="status-incomplete">
                  <i class="fa fa-times"></i>
                </span>
              <% end -%>
            </dd>
          </div>
          <div class="overview-item col-sm-3">
            <dt>
              Payment Due
            </dt>
            <dd>
              <span class="payment_balance <%= if @payment_balance == 0 then 'status-complete' else 'status-incomplete' end %>">
                <%= @currency_symbol %><%= @payment_balance %>
              </span>
            </dd>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-12">
    <section class="overview panel panel-default">
      <div class="panel-body">
        <%= Option.get("overview_page_text") %>
      </div>
    </section>
  </div>
</div>

<div class="col-sm-6">
  
</div>
