<!DOCTYPE html>
<html>
<head>
  <title><%= Option.get('site_title') %> Registration</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all" %>
  <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300", media: "all" %>
  <% favicon = Option.get('favicon') %>
  <%= favicon_link_tag (if favicon.blank? then 'favicon.ico' else favicon end) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'partial/header' %>

<div class="container">
  <% if flash[:error] -%>
    <div id="alert-danger" class="alert alert-danger"><%= flash[:error] %></div>
  <% elsif flash[:alert] -%>
    <div id="alert-danger" class="alert alert-danger"><%= flash[:alert] %></div>
  <% else -%>
    <div id="alert-danger" class="alert alert-danger hidden"></div>
  <% end -%>

  <% if flash[:notice] -%>
    <div id="alert-success" class="alert alert-success"><%= flash[:notice] %></div>
  <% else -%>
    <div id="alert-success" class="alert alert-success hidden"></div>
  <% end -%>


  <% if content_for?(:sidebar) -%>
    <div class="col-sm-3">
      <%= yield(:sidebar) %>
    </div>
    <% columns = 9 -%>
  <% else -%>
    <% columns = 12 -%>
  <% end -%>

  <div class="col-sm-<%= columns %>">
    <%= yield %>
  </div>
</div>

<%= render partial: '/partial/footer' %>

</body>
</html>
