<!DOCTYPE html>
<html>
<head>
  <title><%= Option.get('site_title') %> Registration</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'partial/header' %>

<div class="container">
  <% if flash[:error] -%>
    <div id="alert-danger" class="alert alert-danger"><%= flash[:error] %></div>
  <% elsif flash[:alert] -%>
    <div id="alert-danger" class="alert alert-danger"><%= flash[:alert] %></div>
  <% else -%>
    <div id="alert-danger" class="alert alert-danger hidden"></div>
  <% end -%>

  <% if flash[:notice] -%>
    <div id="alert-success" class="alert alert-success"><%= flash[:notice] %></div>
  <% else -%>
    <div id="alert-success" class="alert alert-success hidden"></div>
  <% end -%>


  <% if content_for?(:sidebar) -%>
    <div class="col-sm-3">
      <%= yield(:sidebar) %>
    </div>
    <% columns = 9 -%>
  <% else -%>
    <% columns = 12 -%>
  <% end -%>

  <div class="col-sm-<%= columns %>">
    <%= yield %>
  </div>
</div>

<footer class="content-footer">
  <div class="container">
    <h4>Yale Model Government Europe</h4>

      <dl class="dl-horizontal">
        <dt>
           <%= icon('map-marker') %> <strong>Address:</strong>
        </dt>
        <dd>
          PO Box 203352 <br>New Haven, CT 06520
        </dd>
        <dt>
           <%= icon('phone') %> <strong>Phone:</strong>
        </dt>
        <dd>
          +1 (412) 877-1272
        </dd>
        <dt>
           <%= icon('envelope') %> <strong>Email:</strong>
        </dt>
        <dd>
          <a href="mailto:recruitment@ymge.org">recruitment@ymge.org</a>
        </dd>
      </dl>
    <div class="textwidget">Copyright 2010-2014 Yale Model Government Europe CZ, o.s.</div>
  </div>
</footer>

</body>
</html>
