<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'partial/header' %>

<div class="devise_form">
  <% if flash[:alert] -%>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end -%>

  <% if flash[:notice] -%>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end -%>

  <%= yield %>
</div>

</body>
</html>
